
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>React App</title>
    <link href="/static/css/main.9f2bc916.css" rel="stylesheet" integrity="sha256-27qYXgb2uf2y9wUo/da9noee5ffLHbucFp2lndgb6v4= sha384-U7YFwgljskAxU+eji5rF4Zl5VtwPs9r4uZw8dsLiAOjIHF9HKL2qVjI5hh8DtHuf" crossorigin="anonymous">
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="/static/js/main.e83c08c4.js" integrity="sha256-QEi9BtPTOevAVfjZOdHNiKbrPpHZnwAiDwYt156fUUk= sha384-xKBefJz9auq2aCyMsvx83oXADeNZdoLHRhyPoKEer3CAwaZPa0jVO1Ub6h4wiWSi" crossorigin="anonymous"></script>
</body>
</html>