
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>React App</title>
    <link href="/static/css/main.7063b87a.css" rel="stylesheet" integrity="sha256-Z8p+DrKBoY9exEctv+gTFBBHQSHatzH5Zxp3iMgU500= sha384-1QkPAd3TKHkryhaH0dlqQwlpLHWEZMOnCVSANY+mAfkxnCrPVASaaepqx++ffvFB" crossorigin="anonymous">
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="/static/js/main.80878722.js" integrity="sha256-4u+JfTAuHsUp7d41Yync+9xDA7xfqPSUpGxakL022+k= sha384-j+m+4vxQE8VCGtHX0vfULod7lze3ztgp8pi3YK6ehdEMbVNSKc/4GVNUkRXsTfxD" crossorigin="anonymous"></script>
</body>
</html>